form {
    border-color: #C70039;
    border-width: 4px;
    border-style: solid;
    border-radius: 2em;

    width: 40vw;
    min-width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;

    padding: 2em;

    display: flex;
    flex-direction: column;

    box-shadow: 8px 8px 16px #FF6969;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8em;
}

p {
    display: flex;
    flex-direction: column;

    margin-top: 0.5em;
}

label {
    width: fit-content;
    margin-left: 1em;
    position: relative;
    top: 0.5em;
    
    background-color: white;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

input {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;

    border-radius: 0.4em;
    border-color:#C70039;
}

span {
    width: fit-content;

    margin-top: 0.5em;
    margin-left: 0.5em;

    font-size: 0.8em;
    font-weight: 100;

    color: #8e8e8e;
}

span:hover{
    cursor: pointer;
    color: #C70039;
}

.submit {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;

    width: fit-content;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;

    border-radius: 1em;
    border-color: #C70039;
}

::placeholder {
    font-style: italic;
}