<form [formGroup]="newPasswordForm" (ngSubmit)="handleSubmit()">
    <h2>Enter code & new password</h2>

    <label for="code">Code</label>
    <input name="code" type="text" formControlName="code">

    <label for="newPassword">New password</label>
    <input #pass name="newPassword" type="password" formControlName="newPassword">
    <i *ngIf="passVisible" class="fa fa-eye-slash" (click)="changeVisibilityPass(pass)"></i>
    <i *ngIf="!passVisible" class="far fa-eye" id="togglePassword" (click)="changeVisibilityPass(pass)"></i>

    <label for="repatPassword" class="fix">Repeat password</label>
    <input #repass name="repatPassword" type="password" formControlName="repeatPassword">
    <i *ngIf="repassVisible" class="fa fa-eye-slash" (click)="changeVisibilityRepass(repass)"></i>
    <i *ngIf="!repassVisible" class="far fa-eye" id="togglePassword" (click)="changeVisibilityRepass(repass)"></i>
    
    <input type="submit" class="submit fix">

    <a href="/login">Back to log in</a>

    <p class="error">{{errorMessage}}</p>
</form>