<header>
    <div class="logo" routerLink="/">
        <img class="a" src="assets/logo.png" alt="LOGO">
        <img class="b" src="assets/logoWhite.png" alt="LOGO">
        <img class="small" src="assets/logoSmall.png" alt="">
    </div>

    <div class="search">
        <input #search name="search" type="text" placeholder="Search...">
        <button (click)="searchCompanies(search.value)"><i class="fa fa-search"></i></button>
    </div>

    <div class="cart">
        <img src="assets/bookmark.png" alt="bookmark" class="bookmark" routerLink="/bookmarks">
        <img src="assets/shoppingCartWhite.png" alt="shoppingCart" (click)="openCart()">
        <p>{{cartStore}}</p>
    </div>
</header>

<app-cart-popup [cartOpen]="cartOpen" (closePopup)="openCart()" *ngIf="cartOpen"></app-cart-popup>

<div class="wrapper" *ngIf="!loaderService.isLoading">
    <main>
        <h2 *ngIf="noListings">No listings</h2>
        <a *ngFor="let listing of listings" href="/customer-details/{{listing.id}}">
            <app-listing [listing]="listing"></app-listing>
        </a>
    </main>
</div>

<div class="loader" *ngIf="loaderService.isLoading">
    <app-spinner></app-spinner>
</div>